@mixin flex-between{
    display: flex;
    justify-content: space-between;
}
.wrap-room-wall{
    width: 100%;
    min-height: 100%;
    background-color: #1a1a1a;
    .nav-btnPrev, .nav-btnNext {
        font-size: 60px;
        position: absolute;
        top: 50%;
        z-index: 99;
        i{
            width: 100px;
            height: 170px;
            position: absolute;
            background: url(../../assets/images/icons-sprite.png) no-repeat;
            cursor: pointer;
        }
    }
    .nav-btnPrev{
        left: 0px; i{ background-position: -534px -30px; }
    }
    .nav-btnNext{
        right: 110px; i{ background-position: -400px -30px; }
    }
    .room-video-tip{
        width: 428px;
        padding: 100px;
        margin: 200px auto;
        color: #fff;
        border-top: 2px solid rgba(255,255,255,0.6);
        text-align: center;
        background-color: rgba(255,255,255,0.1);
    }
    .room-video-block{
        width: 1750px;
        // height: 794px;
        position: relative;
        overflow: hidden;
        margin: 40px 75px;
        color: #ffffff;
        .room-video-list{
            width: 2190px;
            display: flex;
            .room-video-li { 
                position: relative; 
                width: 420px;
                margin: 0px 8px;
                .video-entry-content{
                    height: 315px;
                    border-top-left-radius: 16px;
                    border-top-right-radius: 16px;
                    background-color: #3D3C41;
                    a {
                        width: 100%;
                        img {width: 100%;}
                        video{
                            width: 100%;
                            height: 315px;
                            border-top-left-radius: 16px;
                            border-top-right-radius: 16px;
                        }
                    }
                    .video-tag-tip{
                        display: flex;
                        position: absolute;
                        left: 12px;
                        span{ margin: 0px 6px; }
                        .tag-monitor-status{ color: #FF5252 !important; }
                        .icon-dingzhu { color: #4D84FF; }
                        .icon-yuyin { color: #00CF71; }
                        .tag-abnormal{
                            background: #BF1E1E;
                            border-radius: 15px;
                            padding: 4px 8px;
                            font-size: 12px;
                        }
                    }
                }
                .icon-event-content{
                    background-color: #4C4E52;
                    margin: 0px;
                    padding: 8px 5px;
                    text-align: left;
                    span{ margin: 0px 6px; }
                }
                @mixin toggle-video{
                    cursor: pointer;
                    position: absolute;
                    top: 180px;
                    width: 0;
                    height: 0;
                }
                @mixin icon-spot{
                    height: 96px;
                    padding: 0px 30px;
                    background: url(../../assets/images/icon-spot.png) 0 2px no-repeat;
                    background-position: 12px 5px;
                }
                .entry-event-block{
                    background-color: #3D3C41;
                    position: relative;
                    .double-video{
                        @include toggle-video;
                        border-top: 8px solid transparent;
                        border-bottom: 8px solid transparent;
                        border-left: 8px solid #fff;
                    }
                    .entry-log {
                        height: 350px;
                        overflow-y: auto;
                    }
                }
                .eagle-event-block{
                    position: relative;
                    background-color: #3D3C41;
                    .single-video{
                        right: 150px;
                        @include toggle-video;
                        border-top: 8px solid transparent;
                        border-bottom: 8px solid transparent;
                        border-right: 8px solid #fff;
                    }
                }
                .entry-information{
                    padding: 1px 12px;
                    background-color: #3D3C41;
                    margin-top: 2px;
                    p{ @include flex-between; }
                    .icon-num span{
                        color: #889497;
                        margin: 0px 5px;
                    }
                    
                }
            }
            }  
        }

}